<style>
    .modal-content {
        background-color: #8b1f1f
    }
</style>

<div class="modal fade" id="Modal-Battle-{{ playerontournament.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    Battle with {{ playerontournament.name }} !
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{ battle_form.hidden_tag() }}
                    <h4 class="text-center">
                        Do you want to battle {{ playerontournament.name }} ?
                    </h4>
                    <br>
                    <h6>
                        By clicking Yes, you will battle {{ playerontournament.name }}.
                    </h6>
                    <br>
                    <input id="battle_player" name="battle_player" type="hidden" value="{{ playerontournament.name}}"> {{ battle_form.submit(class="btn btn-outline-success btn-block") }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
     </button>
            </div>
        </div>
    </div>
</div>